@keyframes cardFlip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
    box-shadow: 4px 4px 4px 0px gray;
  }
}

@keyframes reverseCardFlip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    box-shadow: -4px 4px 4px 0px gray;
  }
}

body {
  background-color: aliceblue;
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  width: 1000px;
  font-size: 3rem;
}

.container {
  margin: 0px auto;
  width: 1000px;
  display: grid;
  grid-template: auto auto auto auto auto / auto auto auto auto;
  gap: 10px;
  justify-content: center;
}

.card {
  font-size: 3rem;
  background-color: lightskyblue;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 4px 0px gray;
  transform: rotateY(180deg);
  cursor: pointer;
}

#finishScreen {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#finishScreen h2,
#finishScreen button {
  position: relative;
  top: 40%;
  color: azure;
}

#restartButton {
  background-color: black;
  border: none;
  outline: 1px solid azure;
  padding: 10px 20px;
  font-weight: bold;
  transition: color 500ms, border 500ms;
  border-radius: 10px;
}

#restartButton:hover {
  background-color: azure;
  color: black;
  border: 1px solid black;
  outline: none;
}

@media only screen and (orientation: landscape) {
  .container {
    grid-template: auto auto auto auto / auto auto auto auto auto;
  }
}

@media only screen and (max-width: 1023px) {
  #finishScreen {
    position: static;
    margin: 0px auto;
    width: 1000px;
    z-index: 0;
    background-color: unset;
  }

  #finishScreen h2 {
    color: black;
  }
}
